<!-- 
FileName: search.ejs
Author(s): Kevin Cornejo-Andrade, Selina Daley
WebSite: https://kevinexpress.herokuapp.com/
Description: Search survey page 
-->
<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div id="main-div" class="col-md-offset-3 col-md-6">

          <h1>Search for a Survey</h1>

          <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Survey Name:</label>
                <input type="text" class="form-control" id="NameTextField">
                <placeholder="Survey Name" name="name" required>
              </div>
              <div class="form-group">
                <label for="SubmittedByTextField">Submitted By:</label>
                <input type="text" class="form-control" id="SubmittedByTextField">
                <placeholder="Submitted By" name="submittedBy" required>
              </div>
              <div class="form-group">
                  <label>Type of Search</label><br/>
                  <input id="rdBtnAND" type="radio" name="searchType" value="AND"> AND &nbsp;&nbsp;
                  <input id="rdBtnOR" type="radio" name="searchType" value="OR"> OR<br/>
              </div>
              <br>
              <!--<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Submit</button>-->
              <a href="/search/results" class="btn btn-primary"><i class="fa fa-search"></i> Search</a>
            </form>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


