/*
FileName: app.css
Author: Kevin Cornejo-Andrade 
WebSite: https://surveybubble.herokuapp.com/
Description: StyleSheet for survey bubble.
*/ 
body {
  padding-bottom: 70px;
  background-color: 	#2e6da4;
  }
  #main-div{
    border-radius: 15px; 
    background-color: 	#C4E7FD;
    padding: 10px 30px 30px 30px;
  }
  .navbar {
    background-color: #3B3738;
  }
  .navbar-text {
    color: #FFFFFF;
  }
  .navbar-nav {
    color: #FFFFFF;
  }
  .icon-bar {
    background-color: #FFFFFF;
  }
  #front {
    width: auto;
    background: url(../images/bubble-banner.jpg);
    background-size: 100%; 
    box-shadow: 8px 8px 5px #393e47;
  }
  .iconImage {
    width: 100px;
    height: 100px;
  }
  .login {
    border-radius: 15px; 
    border-color: black;
    background-color: #C4E7FD;
    padding: 30px;
  }
  /*#active {
    color: #7E8F7C;
  }*/

